name: CI

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.5.4

      - name: Run lint and check
        run: deno lint src/ && deno check src/

      - name: Run lint and tests
        run: deno lint tests/ && deno test --no-check
